.user-icon{
    font-size:100px;
    height: 46%;
    width: 46%;   
    line-height: 100px;       
}
.actions{
    padding-left: 10px;
}
.rowAction{
    font-size: 28px !important;
    margin: 0px;
    cursor: pointer;
    transition: 0.2s; 
    -webkit-transition: 0.2s;   
}
.rowAction:hover{
    font-size: 34px !important;    
    
}
.btn-rowAction{
    margin:0% 10%;
    z-index:3;
}
.header-section{
    padding:10px;
    color:#3f51b5;
}
.header-section mat-form-field {
    width: 40%;
    height: 50%;
}
.header-section h1 {
    width: 50%;
    margin: 0px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 100px 0px;
    height: 90%;
    line-height: 2;
}
